<nav class ="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class ="navbar-brand" href="/">
        GuiaPress
    </a>
    <ul class="navbar-nav mr-auto">
        
        <li class ="nav-item">
            <a class="nav-link"href="/">Home</a>
        </li>
         <% categories.forEach(category =>{ %>

            
            <li class ="nav-item">
                <a class="nav-link"href="/categories/<%= category.slug %>"><%= category.title %></a>
            </li>
            
        <% }) %>
        
            <li class ="nav-item" style="display: flex; position: absolute;right: 15px;">
                <a class="nav-link" href="/admim/painel">Painel (ADM)</a>
            </li>

        </ul>
</nav>