<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Criação de Usuário</h2>
        </div>
        <div class="card-body">
            <form action="/admim/users/save" method="POST">
                <input class="form-control" name= "email" type="email" placeholder="email@exemplo.com">
                <br>
                <input class="form-control" name="password" type="password" placeholder="**********">
                <br>
                <button class="btn btn-primary btn-block">Cadastrar</button>
            </form>
        </div>
    </div>
    
    
</div>
<%- include ('../../partials/footer.ejs') %>
