<%- include ('../../partials/head.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    
    <div class="container">
        <br>
        <div class="card">

            <div class="card-header">

                <h2>Cadastro de categoria</h2>
            </div>

            <div class="card-body">

                
                <form action="/categories/save" method="POST">
                    <input class="form-control" type="text" name ="title" placeholder="Define o título da categoria">
                    <br>
                    <button class="btn btn-primary">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
      
</body>
<%- include ('../../partials/footer.ejs') %>